<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<settings>
		<!-- 파라미터 매핑에 null값이 들어왔을 경우 일괄적으로 처리하는 설정. -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.uspaceacademy.vo.Inquiry" alias="inquiry"></typeAlias>
		<package name="com.uspaceacademy.vo"/>
	</typeAliases>	
	
	<mappers>
		<mapper resource="com/uspaceacademy/mapper/InquiryMapper.xml"/>
	</mappers>
</configuration>