<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="assignmentMapper">


	<sql id ="assignment-columns">
	assignment_no, assignment_writer_id, assignment_secret, assignment_title, assignment_content,
	assignment_date, assignment_hit, assignment_password, assignment_re_family,
	assignment_re_step, assignment_re_level, assignment_writer, assignment_deadline, assignment_file,
	lecture_no
	</sql>


	<resultMap type="Assignment" id="assignment-basic">
	<id column="assignment_no" property="assignmentNo"/>
	<result column="assignment_writer_id" property="assignmentWriterId"/>
	<result column="assignment_secret" property="assignmentSecret"/>
	<result column="assignment_title" property="assignmentTitle"/>
	<result column="assignment_content" property="assignmentContent"/>
	<result column="assignment_date" property="assignmentDate"/>
	<result column="assignment_hit" property="assignmentHit"/>
	<result column="assignment_password" property="assignmentPassword"/>
	<result column="assignment_re_family" property="replyFamily"/>
	<result column="assignment_re_step" property="replyStep"/>
	<result column="assignment_re_level" property="replyLevel"/>
	<result column="assignment_writer" property="assignmentWriter"/>
	<result column="assignment_deadline" property="assignmentDeadline"/>
	<result column="assignment_file" property="assignmentFile"/>
	<result column="lecture_no" property="lectureNo"/>
	</resultMap>

<!--  조인.................................................................................................................................................................................................................... -->


<!--조인 컬렉션
 	<resultMap type="Assignment" id="assignment-lecture-resultmap" 	extends="assignment-basic">
		<association property="lecture" javaType="lecture" resultMap="lecture.lecture-basic"/>
	</resultMap> 
lecture
 	<resultMap type="com.uspaceacademy.vo.Lecture" id="lecture-resultMap">
 		<id column="lecture_no" property="lectureNo"/>
		<result column="lecture_title" property="lectureTitle"/>
		<result column="lecture_description" property="lectureDescription"/>
		<result column="lecture_start_time" property="lectureStartTime"/>
		<result column="lecture_end_time" property="lectureEndTime"/>
		<result column="lecture_day" property="lectureDay"/>
		<result column="lecture_start_date" property="lectureStartDate"/>
		<result column="lecture_end_date" property="lectureEndDate"/>
		<result column="lecture_price" property="lecturePrice"/>
		<result column="lecture_total_student" property="lectureTotalStudent"/>
		<result column="lecture_current_student" property="lectureCurrentStudent"/>
		<result column="lecture_subject" property="lectureSubject"/>
		<result column="teacher_id2" property="teacherId2"/>
 	</resultMap>

 select S!
<select id="selectAssignmetLecture" parameterType="map" resultMap="assignment-lecture-resultmap">
SELECT  	    a.assignment_no, a.assignment_writer_id, a.assignment_secret, a.assignment_title, a.assignment_content,
			    a.assignment_date, a.assignment_hit, a.assignment_password, a.assignment_re_family,
			    a.assignment_re_step, a.assignment_re_level, a.assignment_writer, a.assignment_deadline,
				a.lecture_no,
				l.lecture_no, l.lecture_title, l.lecture_description, l.lecture_start_time, l.lecture_end_time, l.lecture_day, 
				l.lecture_start_date, l.lecture_end_date, l.lecture_price, l.lecture_total_student, l.lecture_current_student, l.lecture_subject, l.teacher_id2   
	
	FROM  assignment_board a, lecture l
	WHERE   l.lecture_no=#{value}
	</select> -->
	
	
<!--  답글.................................................................................................................................................................................................................... -->

	<!--  1.ㄷ조회   ,기존LIST대신이거 
	<select id="replyGetList"  resultType="Assignment" resultMap="assignment-basic">
	SELECT	*
	FROM    	assignment_board   
	ORDER BY 	assignment_re_family DESC, assignment_re_step ASC  콤마 안찍으면 오류남
	</select> -->
	
	
	
	<!-- 2.ㄷ답글등록  -->
	<insert id="replyReply" parameterType="Assignment" >
	 <!-- INSERT INTO  assignment_board  VALUES (#{assignmentNo},#{assignmentSecret},#{assignmentTitle},#{assignmentContent},#{assignmentDate},#{assignmentHit},#{assignmentPassword},#{replyFamily},#{replyStep},#{replyLevel},#{assignmentWriter},#{assignmentDeadline},#{lectureNo}) -->
	INSERT INTO  assignment_board  VALUES (#{assignmentNo},#{assignmentWriterId},#{assignmentSecret},#{assignmentTitle},#{assignmentContent},#{assignmentDate},#{assignmentHit},#{assignmentPassword},#{replyFamily},#{replyStep}+1,#{replyLevel}+1,#{assignmentWriter},#{assignmentDeadline},#{assignmentFile},#{lectureNo})<!--  스텝하고 레벨에 1씩 +해야 답글달림 -->-->
	</insert>
	
	<!-- 3.ㄷ업데이트 -->
	<update id="replyAddStep" parameterType="Assignment">
	UPDATE assignment_board  
	SET   assignment_re_step = assignment_re_step +1
	WHERE  assignment_re_family=#{replyFamily}   AND  assignment_re_step > #{replyStep}
	</update>






<!--  답글.................................................................................................................................................................................................................... -->




	<!--  *************************************************************************  -->

	<!--  1.삽입  -->
	<insert id="insert" parameterType="Assignment">
	INSERT INTO assignment_board VALUES (#{assignmentNo},#{assignmentWriterId},#{assignmentSecret},#{assignmentTitle},#{assignmentContent},#{assignmentDate},#{assignmentHit},#{assignmentPassword},#{replyFamily},#{replyStep},#{replyLevel},#{assignmentWriter},#{assignmentDeadline},#{assignmentFile},#{lectureNo})
	</insert>

	<!-- 2.시퀀스 -->
	<select id="selectNextNo" resultType="_int">
	SELECT assignment_board_seq.nextval FROM dual
	</select>


	<!-- 3.전체조회(이건그냥 - 전체조회할때) -->
 	<select id="select" resultType="Assignment">
	SELECT   assignment_no  assignmentNo,
				assignment_writer_id assignmentWriterId,
				assignment_secret   assignmentSecret,
				assignment_title   assignmentTitle,
				assignment_content   assignmentContent,
				assignment_date   assignmentDate,
				assignment_hit   assignmentHit,
				assignment_password   assignmentPassword,
				assignment_re_family   replyFamily,
				assignment_re_step   replyStep,
				assignment_re_level   replyLevel,
				assignment_writer   assignmentWriter,
				assignment_deadline    assignmentDeadline,
				assignment_file   assignmentFile,
				lecture_no    lectureNo
	FROM 	assignment_board
	</select> 


	<!-- 4.수정  -->
<update id="update" parameterType="Assignment">
	UPDATE  assignment_board
	SET		assignment_writer_id=#{assignmentWriterId},
				assignment_secret=#{assignmentSecret},
				assignment_title=#{assignmentTitle},
				assignment_content=#{assignmentContent},
				assignment_date=#{assignmentDate},
				assignment_hit=#{assignmentHit},
				assignment_password=#{assignmentPassword},
				assignment_re_family=#{replyFamily},
				assignment_re_step=#{replyStep},
				assignment_re_level=#{replyLevel},
				assignment_writer=#{assignmentWriter},
				assignment_deadline=#{assignmentDeadline}, 
				assignment_file=#{assignmentFile}
	WHERE assignment_no=#{assignmentNo}   and   lecture_no=#{lectureNo}
	</update>
	<!-- <update id="update" parameterType="Assignment">
	UPDATE  assignment_board
	SET		assignment_secret   assignmentSecret,
				assignment_title   assignmentTitle,
				assignment_content   assignmentContent,
				assignment_date   assignmentDate,
				assignment_hit   assignmentHit,
				assignment_password   assignmentPassword,
				assignment_re_family   replyFamily,
				assignment_re_step   replyStep,
				assignment_re_level   replyLevel,
				assignment_writer   assignmentWriter,
				assignment_deadline   assignmentDeadline, 
				lecture_no   lectureNo
	WHERE assignment_no=#{assignmentNo}
	</update> -->
	
	
	
	<!-- 5.삭제 -->
	<delete id="deleteByNo" parameterType="_int">
	DELETE  FROM assignment_board  
	WHERE  assignment_no=#{assignmentNo}  and  lecture_no=#{lectureNo}
	</delete>



	<!-- 6.전체조회(NO로) (이건 - 세부조회할때)  -->
	<select id="selectNo" parameterType="_int"	resultMap="assignment-basic">
	<!-- SELECT 	assignment_no   assignmentNo,
				assignment_writer_id  assignmentWriterId,
				assignment_secret   assignmentSecret,
				assignment_title   assignmentTitle,
				assignment_content   assignmentContent,
				assignment_date   assignmentDate,
				assignment_hit   assignmentHit,
				assignment_password   assignmentPassword,
				assignment_re_family   replyFamily,
				assignment_re_step   replyStep,
				assignment_re_level   replyLevel,
				assignment_writer   assignmentWriter,
				assignment_deadline   assignmentDeadline,  
				assignment_file   assignmentFile,
				lecture_no   lectureNo
	FROM		assignment_board
	WHERE	assignment_no=#{assignmentNo} -->
	SELECT    <include refid="assignment-columns"></include> 
	 FROM    assignment_board
	WHERE	assignment_no=#{assignmentNo}   and  lecture_no=#{lectureNo}
	</select>



	<!--  7.조회수처리  -->
	<select id="updateHit" parameterType="Assignment">
	UPDATE assignment_board
	SET		assignment_hit=#{assignmentHit}
	WHERE	assignment_no=#{assignmentNo}  and  lecture_no=#{lectureNo}
	</select>







	<!-- 아래 페이징처리............................................................................................................................ -->

	<!--    8.   select 페이징 처리!!   (과제게시판)ok -->
	<select id="selectPaging" parameterType="map" resultMap="assignment-basic">
	SELECT <include refid="assignment-columns"/>
	FROM(SELECT CEIL (rownum/#{itemsPerPage}) page, <include refid="assignment-columns"/>
	FROM(SELECT <include refid="assignment-columns"/>
			FROM assignment_board 
			WHERE lecture_no = #{lectureNo}    ORDER BY  assignment_re_family DESC, assignment_re_step ASC 
		)
	)
	WHERE page=#{page}
	</select>
	
	
	<!--   9.페이징처리에 필요함 ((과제게시판)이건 -  전체 리스트 (갯수) 세어줌 ) ok  -->
	<select id="selectCount" resultType="_int">
	SELECT  count(assignment_no)
	FROM    assignment_board
	</select>


	<!-- 위에 페이징처리............................................................................................................................ -->




</mapper>



