<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lectureInquiryMapper">

	<sql id="lectureInquiry-select">
		select advanced_no,
				advanced_secret,
				advanced_title,
				advanced_content,
				advanced_date,
				advanced_hit,
				advanced_id,
				advanced_type,
				lecture_no2
		from	advanced_board		
	</sql>
	
	<sql id="column-basic">
		advanced_no,
		advanced_secret,
		advanced_title,
		advanced_content,
		advanced_date,
		advanced_hit,
		advanced_id,
		lecture_no2
	</sql>
	
	<sql id="comment-select">
		select	comment_no,
				comment_content,
				comment_date,
				comment_writer,
				comment_type,
				advanced_no2
		from	comment_table
	</sql>
	
	<sql id="comment-basic">
				comment_no,
				comment_content,
				comment_date,
				comment_writer,
				comment_type,
				advanced_no2
	</sql>
	
	<resultMap type="lectureInquiry" id="lectureInquiry-resultmap">
		<id column="advanced_no" property="advancedNo"/>
		<result column="advanced_secret" property="advancedSecret"/>
		<result column="advanced_title" property="advancedTitle"/>
		<result column="advanced_content" property="advancedContent"/>
		<result column="advanced_date" property="advancedDate"/>
		<result column="advanced_hit" property="advancedHit"/>
		<result column="advanced_id" property="advancedId"/>
		<result column="advanced_type" property="advancedType"/>
		<result column="lecture_no2" property="lectureNo2"/>
	</resultMap>
	
	<resultMap type="comment" id="comment-resultmap">
		<id column="comment_no" property="commentNo"/>
		<result column="comment_content" property="commentContent"/>
		<result column="comment_date" property="commentDate"/>
		<result column="comment_writer" property="commentWriter"/>
		<result column="comment_type" property="commentType"/>
		<result column="advanced_no2" property="advancedNo2"/>
	</resultMap>
	
	<!-- 등록하기 -->
 	<insert id="insertLectureInquiry" parameterType="lectureInquiry">
		insert into advanced_board values(#{advancedNo}, #{advancedSecret}, #{advancedTitle}, #{advancedContent}, #{advancedDate}, #{advancedHit}, #{advancedId}, #{advancedType}, #{lectureNo2})
	</insert>
	
	<!-- 글 번호 sequence -->
	<select id="increaseAdvancedNo" resultType="_int">
		select advanced_board_seq.nextval from dual
	</select>
	
	<!-- 등록 상세조회 -->
	<select id="selectByAdvancedNo" resultMap="lectureInquiry-resultmap" parameterType="map">
		<include refid="lectureInquiry-select"></include>
		where advanced_type = #{advancedType} and advanced_no = #{advancedNo} and lecture_no2 = #{lectureNo2}
	</select>
	
	<!-- 목록 상세조회 -->
	<select id="selectByAdvancedNoWithComment" resultMap="lectureInquiry-resultmap" parameterType="map">
		<include refid="lectureInquiry-select"></include>
		where advanced_type = #{advancedType} and advanced_no = #{advancedNo} and lecture_no2 = #{lectureNo2}
	</select>
	
	<!-- 조회수 -->
	<update id="updateAdvancedHit" parameterType="inquiry">
		update advanced_board
		set advanced_hit = #{advancedHit}
		where advanced_type = #{advancedType} and advanced_no = #{advancedNo} and lecture_no2 = #{lectureNo2}
	</update>
	
	
	
	<!-- 글번호로 댓글 조회하기 -->
	<select id="commentList" parameterType="map" resultMap="comment-resultmap">
		<include refid="comment-select"/>
		where comment_type = #{commentType} and advanced_no2 = #{advancedNo2}	
	</select>
	
	<!-- 댓글번호로 조회하기 -->
	<select id="selectByCommentNo" parameterType="map" resultMap="comment-resultmap">
		<include refid="comment-select"/>
		where comment_type = #{commentType} and comment_no = #{commentNo} and advanced_no2 = #{advancedNo2}
	</select>
	
	
	<!-- 댓글 등록 -->
	<insert id="insertComment" parameterType="comment">
		insert into comment_table values(#{commentNo}, #{commentContent}, #{commentDate}, #{commentWriter}, #{commentType}, #{advancedNo2})
	</insert>
	
	<!-- 댓글 번호 sequence -->
	<select id="increaseCommentNo" resultType="_int">
		select comment_board_seq.nextval from dual
	</select>
	
	<!-- 댓글 수정 -->
	<update id="updateComment" parameterType="comment">
		update comment_table
		set		comment_content = #{commentContent},
				comment_date = #{commentDate}
		where comment_type = #{commentType} and comment_no = #{commentNo} and advanced_no2 = #{advancedNo2}				
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteComment" parameterType="map">
		delete from comment_table where comment_type = #{commentType} and comment_no = #{commentNo} and advanced_no2 = #{advancedNo2}
	</delete>
	
		
	
	
	<!-- 수정하기 -->
 	<update id="updateLectureInquiry" parameterType="lectureInquiry">
		update advanced_board
		set advanced_secret = #{advancedSecret},
			advanced_title = #{advancedTitle},
			advanced_content = #{advancedContent},
			advanced_date = #{advancedDate}
		where advanced_type = #{advancedType} and advanced_no = #{advancedNo} and lecture_no2 = #{lectureNo2}	
	</update>
	
	<!-- 삭제하기 -->
	<delete id="deleteLectureInquiry" parameterType="map">
		delete from advanced_board 
		where advanced_type = #{advancedType} and advanced_no = #{advancedNo} and lecture_no2 = #{lectureNo2}
	</delete>
	
	<!-- 강의 리스트 페이징 조회 -->
 	<select id="selectAllByPaging" parameterType="map" resultMap="lectureInquiry-resultmap">
 		SELECT <include refid="column-basic"/>
 		FROM   (
 			SELECT ceil(rownum/#{itemsPerPage}) page, <include refid="column-basic"/>
 			FROM   (
 				SELECT <include refid="column-basic"/>
 				FROM   advanced_board
				where advanced_type = #{advancedType} and lecture_no2 = #{lectureNo2}
 				ORDER BY advanced_no DESC  
 			)
 		)
 		WHERE  page = #{page}
 	</select>
 	
 	<!-- 강의 리스트 페이징 조회 -->
 	<select id="selectRownum" parameterType="map" resultType="_int">
 		SELECT rownum
 		FROM   (
 			SELECT  <include refid="column-basic"/>
 			FROM   (
 				SELECT <include refid="column-basic"/>
 				FROM   advanced_board
				where advanced_type = #{advancedType} and lecture_no2 = #{lectureNo2}
 				ORDER BY advanced_no DESC  
 			)
 		)
 	</select>
	
	<!-- 강의 리스트 페이징 헬퍼 -->
 	<select id="selectAllCountContents" resultType="_int" parameterType="map">
 		SELECT count(advanced_no) 
 		FROM   advanced_board 
 		where advanced_type = #{advancedType} and lecture_no2 = #{lectureNo2}
 	</select>
 	
 	
 	<!-- 제목으로 검색 페이징 조회 -->
 	<select id="selectTitleByPaging" parameterType="map" resultMap="lectureInquiry-resultmap">
 		SELECT <include refid="column-basic"/>
 		FROM   (
 			SELECT ceil(rownum/#{itemsPerPage}) page, <include refid="column-basic"/>
 			FROM   (
 				SELECT <include refid="column-basic"/>
 				FROM   advanced_board
 				where advanced_type=#{advancedType} and lecture_no2 = #{lectureNo2} and advanced_title like '%'||#{advancedTitle}||'%'
 				ORDER BY advanced_no DESC  
 			)
 		)
 		WHERE  page = #{page}
 	</select>
	
	<!-- 제목으로 검색 페이징 헬퍼 -->
 	<select id="selectTitleCountContents" resultType="_int" parameterType="map">
 		SELECT count(advanced_no) 
 		FROM   advanced_board
 		where advanced_type=#{advancedType} and lecture_no2 = #{lectureNo2} and advanced_title like '%'||#{advancedTitle}||'%'
 	</select>
 	
 	
 	<!-- 내용으로 검색 페이징 조회 -->
 	<select id="selectContentByPaging" parameterType="map" resultMap="lectureInquiry-resultmap">
 		SELECT <include refid="column-basic"/>
 		FROM   (
 			SELECT ceil(rownum/#{itemsPerPage}) page, <include refid="column-basic"/>
 			FROM   (
 				SELECT <include refid="column-basic"/>
 				FROM   advanced_board
 				where advanced_type=#{advancedType} and lecture_no2 = #{lectureNo2} and advanced_content like '%'||#{advancedContent}||'%'
 				ORDER BY advanced_no DESC  
 			)
 		)
 		WHERE  page = #{page}
 	</select>
	
	<!-- 내용으로 검색 페이징 헬퍼 -->
 	<select id="selectContentCountContents" resultType="_int" parameterType="map">
 		SELECT count(advanced_no) 
 		FROM   advanced_board
 		where advanced_type=#{advancedType} and lecture_no2 = #{lectureNo2} and advanced_content like '%'||#{advancedContent}||'%'
 	</select>
 	
 	<!-- 글쓴이로 검색 페이징 조회 -->
 	<select id="selectIdByPaging" parameterType="map" resultMap="lectureInquiry-resultmap">
 		SELECT <include refid="column-basic"/>
 		FROM   (
 			SELECT ceil(rownum/#{itemsPerPage}) page, <include refid="column-basic"/>
 			FROM   (
 				SELECT <include refid="column-basic"/>
 				FROM   advanced_board
 				where advanced_type=#{advancedType} and lecture_no2 = #{lectureNo2} and advanced_id like '%'||#{advancedId}||'%'
 				ORDER BY advanced_no DESC  
 			)
 		)
 		WHERE  page = #{page}
 	</select>
	
	<!-- 글쓴이로 검색 페이징 헬퍼 -->
 	<select id="selectIdCountContents" resultType="_int" parameterType="map">
 		SELECT count(advanced_no) 
 		FROM   advanced_board
 		where advanced_type=#{advancedType} and lecture_no2 = #{lectureNo2} and advanced_id like '%'||#{advancedId}||'%'
 	</select>
 	
 	
 	
 	<!-- 전체 조회 -->
	<select id="selectAllInquirys" resultMap="lectureInquiry-resultmap">
		<include refid="lectureInquiry-select"></include>
	</select>
 	
	
</mapper>