<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lectureReviewMapper">
	<!--  parameterType : 가져올값
			resultType :  리턴타입
	 -->
	 
	 
	 
	 
	 <sql id="lecture-review-columns">
	 review_no, review_writer, lecture_title, lecture_subject, review_title, review_content, review_date, review_hit
	 </sql>
	 
	 
	 
	 
	 
	 

<!-- ************************************************************************************************************************************************ -->

	<!-- 삽입 -->
	<insert id="insert" parameterType="LectureReview"><!--  mybatis-config에 타입알리야스 지정 -->
	INSERT INTO review_board VALUES (#{reviewNo},#{reviewWriter},#{lectureTitle},#{lectureSubject},#{reviewTitle},#{reviewContent},#{reviewDate},#{reviewHit})   <!-- VO값넣기 -->                          
	</insert>
	

	<!--  시퀀스 -->
	<select id="selectNextNo" resultType="_int">
	select review_board_seq.nextval from dual
	</select>
	
	
	
	<!-- 수정 -->
	<update id="update" parameterType="LectureReview">
	UPDATE review_board
	SET  	    review_writer=#{reviewWriter}, 
			    lecture_title=#{lectureTitle},
			    lecture_subject=#{lectureSubject}, 
			    review_title=#{reviewTitle}, 
			    review_content=#{reviewContent}, 
			    review_date=#{reviewDate}, 
			    review_hit=#{reviewHit} <!--  끝에 점 찍으면 안됨 -->
	WHERE  	review_no=#{reviewNo}   <!--    쿼리이름 => VO이름    -->
	</update>
	
	
	
	<!-- 삭제 -->
	<delete id="deleteByNo" parameterType="_int">
	DELETE FROM review_board WHERE review_no=#{reviewNo}   <!--    쿼리이름 => VO이름    -->
	</delete>
	
	
	
	<!--  전체조회 -->
	<select id="select" resultType="LectureReview">
	SELECT 	review_no reviewNo,
				review_writer reviewWriter,
				lecture_title lectureTitle,
				lecture_subject lectureSubject,
				review_title reviewTitle,
				review_content reviewContent,
				review_date reviewDate,
				review_hit reviewHit   
	FROM 	review_board
	</select>
	
	
	
	<!--  전체조회(no로) (수강신청-세부조회할때) -->
	<select id="selectNo" resultType="LectureReview" parameterType="_int">
	SELECT 	review_no reviewNo,
				review_writer reviewWriter,
				lecture_title lectureTitle,
				lecture_subject lectureSubject,
				review_title reviewTitle,
				review_content reviewContent,
				review_date reviewDate,
				review_hit reviewHit      
	FROM 	review_board
	WHERE review_no=#{reviewNo}   <!--    쿼리이름!! => VO이름!!    -->
	</select>
	
	
	
	
	<!--  전체조회(제목+내용) --> 
	<select id="selectTitleContent" resultType="LectureReview" parameterType="string">
	SELECT 	review_no reviewNo,
				review_writer reviewWriter,
				lecture_title lectureTitle,
				lecture_subject lectureSubject,
				review_title reviewTitle,
				review_content reviewContent,
				review_date reviewDate,
				review_hit reviewHit   
	FROM 	review_board
	WHERE lecture_title=#{lectureTitle} , review_content=#{reviewContent}     <!--  쿼리 => VO -->
	</select>
	
	
	
	
	
	
	<!--  전체조회(제목) -->
	<select id="selectTitle" resultType="LectureReview" parameterType="string">
	SELECT 	review_no reviewNo,
				review_writer reviewWriter,
				lecture_title lectureTitle,
				lecture_subject lectureSubject,
				review_title reviewTitle,
				review_content reviewContent,
				review_date reviewDate,
				review_hit reviewHit   
	FROM 	review_board
	WHERE lecture_title=#{lectureTitle}   <!--  쿼리 => VO -->
	</select>
	
	
	
	
	
	
	
	<!--  전체조회(내용) -->
	<select id="selectContent" resultType="LectureReview" parameterType="string">
	SELECT 	review_no reviewNo,
				review_writer reviewWriter,
				lecture_title lectureTitle,
				lecture_subject lectureSubject,
				review_title reviewTitle,
				review_content reviewContent,
				review_date reviewDate,
				review_hit reviewHit   
	FROM 	review_board
	WHERE review_content=#{reviewContent} <!--  쿼리 => VO -->
	</select>
	
	
	
	
	
	<!--  select 페이징 처리!! -->
	<select id="selectList" parameterType="map" resultType="LectureReview">
	SELECT <include refid="lecture-review-columns"/>
	FROM(SELECT CEIL (rownum/#{itemPerPage})page,<include refid="lecture-review-columns"/>
	FROM(SELECT <include refid="lecture-review-columns"/>
			FROM review_board order by review_no desc
		)
	)
	WHERE page=#{page}
	</select>
	
</mapper>