<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lectureInquiryMapper">

	<sql id="inquiry-select">
		select advanced_no,
				advanced_secret,
				advanced_title,
				advanced_content,
				advanced_date,
				advanced_hit,
				advanced_id,
				lecture_no2
		from	advanced_board		
	</sql>
	
	<sql id="column-basic">
		advanced_no,
		advanced_secret,
		advanced_title,
		advanced_content,
		advanced_date,
		advanced_hit,
		advanced_id,
		lecture_no2
	</sql>
	
	<resultMap type="inquiry" id="inquiry-resultmap">
		<id column="advanced_no" property="advancedNo"/>
		<result column="advanced_secret" property="advancedSecret"/>
		<result column="advanced_title" property="advancedTitle"/>
		<result column="advanced_content" property="advancedContent"/>
		<result column="advanced_Date" property="advancedDate"/>
		<result column="advanced_hit" property="advancedHit"/>
		<result column="advanced_id" property="advancedId"/>
		<result column="lecture_no2" property="lectureNo2"/>
	</resultMap>
	
	<resultMap type="inquiry" id="inquiry-resultmap2">
		<result column="advanced_no" property="advancedNo"/>
		<result column="advanced_secret" property="advancedSecret"/>
		<result column="advanced_title" property="advancedTitle"/>
		<result column="advanced_content" property="advancedContent"/>
		<result column="advanced_Date" property="advancedDate"/>
		<result column="advanced_hit" property="advancedHit"/>
		<result column="advanced_id" property="advancedId"/>
	</resultMap>
		
	<!-- 전체 조회 -->
	<select id="selectAllInquirys" resultMap="inquiry-resultmap">
		<include refid="inquiry-select"></include>
	</select>
	
	<!-- 등록하기 -->
 	<insert id="insertInquiry" parameterType="inquiry">
		insert into advanced_board values(#{advancedNo}, #{advancedSecret}, #{advancedTitle}, #{advancedContent}, #{advancedDate}, #{advancedHit}, #{advancedId}, null)
	</insert>
	
	<!-- 상세조회 -->
	<select id="selectByAdvancedNo" resultMap="inquiry-resultmap" parameterType="_int">
		<include refid="inquiry-select"></include>
		where advanced_no = #{advancedNo}
	</select>
	
	<!-- 조회수 -->
	<update id="updateHit" parameterType="inquiry">
		update advanced_board set advanced_hit = #{advancedHit} where advanced_no = #{advancedNo}
	</update>
	
	<!-- 수정하기 -->
 	<update id="updateInquiry" parameterType="inquiry">
		update advanced_board
		set advanced_secret = #{advancedSecret},
			advanced_title = #{advancedTitle},
			advanced_content = #{advancedContent},
			advanced_date = #{advancedDate},
			advanced_hit = #{advancedHit},
			advanced_id = #{advancedId},
			lecture_no2 = #{lectureNo2}
		where advanced_no = #{advancedNo}	
	</update>
	
	<!-- 삭제하기 -->
	<delete id="deleteByAdvancedNo" parameterType="_int">
		delete from advanced_board where advanced_no = #{advancedNo}
	</delete>
	
	<!-- 글 번호 sequence -->
	<select id="increaseAdvancedNo" resultType="_int">
		select advanced_board_seq.nextval from dual
	</select>
	
	<!-- 강의 리스트 페이징 조회 -->
 	<select id="selectListByPaging" parameterType="map" resultMap="inquiry-resultmap">
 		SELECT <include refid="column-basic"/>
 		FROM   (
 			SELECT ceil(rownum/#{itemsPerPage}) page, <include refid="column-basic"/>
 			FROM   (
 				SELECT <include refid="column-basic"/>
 				FROM   advanced_board
<!--  				where code_name = #{codeName} -->
 				ORDER BY advanced_no DESC  
 			)
 		)
 		WHERE  page = #{page}
 	</select>
	
	<!-- 강의 리스트 페이징 헬퍼 -->
 	<select id="selectCountContents" resultType="_int">
 		SELECT count(advanced_no) 
 		FROM   advanced_board 
 	</select>
	
</mapper>