<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace= "noticeMapper">  
<sql id="notice-columns">
	basic_no, basic_writer, basic_title, basic_content, basic_date, basic_hit, basic_type
</sql>

<resultMap type="notice" id="notice-resultMap">
	<id column="basic_no" property="basicNo"/>
	<result column="basic_writer" property="basicWriter"/>
	<result column="basic_title" property="basicTitle"/>
	<result column="basic_content" property="basicContent"/>
	<result column="basic_date" property="basicDate"/>
	<result column="basic_hit" property="basicHit"/>
	<result column="basic_type" property="basicType"/>
</resultMap>

<!-- 공지사항 등록 -->
<insert id="insert_notice" parameterType="notice">
	insert into basic_board
	values(#{basicNo}, #{basicWriter}, #{basicTitle}, #{basicContent}, #{basicDate}, #{basicHit}, #{basicType})
</insert>

<!-- 공지사항 번호 sequence 처리 -->
<select id="selectNextNo" resultType="_int">
	select basic_board_seq.nextval from dual
</select>

<!-- 공지사항 전체 조회 -->
<select id="selectList" resultMap="notice-resultMap" parameterType="string">
	select <include refid="notice-columns"/> 
	from basic_board
	where basic_type = #{basicType}
	order by basic_no desc
</select>

<!-- 공지사항 수정 -->
<update id="update_notice" parameterType="notice">
	update basic_board
	set basic_title = #{basicTitle},
		basic_content = #{basicContent},
		basic_date = #{basicDate},
		basic_hit = #{basicHit}
	where basic_no  = #{basicNo}
</update>

<!-- 공지사항 삭제 -->
<delete id="delete_notice" parameterType="_int">
	delete from basic_board where basic_no = #{basicNo}
</delete>

<!-- 공지사항 찾기 -->
<select id="select_byno" parameterType="_int" resultMap="notice-resultMap">
	select <include refid="notice-columns"></include>
	from basic_board
	where basic_no = #{basicNo}
</select>

<!-- 공지사항 조회수 조회 -->
<select id="select_hit" parameterType="_int" resultType="_int">
	select basic_hit
	from basic_board
	where basic_no = #{basicNo}
</select>

<!-- 공지 리스트 페이징 조회 -->
<select id="selectListByPaing" parameterType="map" resultMap="notice-resultMap">
SELECT 
<include refid="notice-columns"/>
FROM ( SELECT ceil(rownum/#{itemsPerPage}) page, 
<include refid="notice-columns"/>
FROM ( SELECT 
<include refid="notice-columns"/>
FROM basic_board WHERE basic_type = #{basicType} ORDER BY basic_no DESC ) ) WHERE page = #{page} 
</select>

<!-- 공지 리스트 페이징 헬퍼 -->
<select id="selectCountContents" resultType="_int" parameterType="string">
 SELECT count(basic_no) 
 FROM basic_board 
 WHERE basic_type = #{type} 
 </select>
 
<!-- 제목+내용으로 검색 -->
<select id="noticeSearch" parameterType="map" resultMap="notice-resultMap">
SELECT 
<include refid="notice-columns"/>
FROM(SELECT ceil(rownum/#{itemsPerPage}) page, 
<include refid="notice-columns"/>
FROM (SELECT 
<include refid="notice-columns"/>
FROM basic_board WHERE basic_type=#{basicType} and (basic_content like '%'||#{keyword}||'%' or basic_title like '%'||#{keyword}||'%') ORDER BY basic_no DESC)) WHERE page = #{page} 
<!-- SELECT * FROM basic_board WHERE basic_type = #{basicType} and (basic_content like '%'||#{keyword}||'%' or basic_title like '%'||#{keyword}||'%') -->
</select>

<select id="selectNoticeCountContents" parameterType="map" resultType="_int"> 
SELECT count(basic_no) 
FROM basic_board 
WHERE basic_type = #{basicType} and 
(basic_content like '%'||#{keyword}||'%' or basic_title like '%'||#{keyword}||'%') 
</select>

</mapper> 